body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: rgb(235, 235, 235);
}
.topnav a {
  float: left;
  color: #141414;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav > .signout {
  float: right;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: rgb(235, 235, 235);
  border-bottom: 4px solid #353535;
  color: #141414;
}

.bttn {
  padding: 10px;
  background-color: whitesmoke;
  margin: 10px;
  border: none;
  border-radius: 25%;
}
